---
layout: page
title: Tags
permalink: /tags/
order: 30
share: false
---

<ul class="inline">
    {% for tag in site.tags %}
    <li><a href="{{ '/search/?t=' | prepend: site.baseurl }}{{ tag[0] }}">#{{ tag[0] }}</a></li>
    {% endfor %}
</ul>
