// typography.
// $font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$font-family: 'Ubuntu', sans-serif;
$font-size: 20px;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 50px;

// brand color.
$brand-color: #f5fbf5;

// other major colors.
$site-title-color: rgba(#000, .6);
$page-title-color: $brand-color;
$background-color: #fff;
$border-color: rgba(#000, .1);

// typography colors.
$text-color: #383838;
$link-color: darken($brand-color, 60%);
$blockquote-color: #777;

// Article header colors
$article-page-header-color: $text-color;
$article-page-header-background-color: rgba($brand-color, .2);

